.grid {
    /* transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg); */
    transform: perspective(900px) rotateX(50deg);
}

.grid__container {
    display: flex;
    align-items: center;
    justify-content: center;
}